/*
Project Name: Andrew Preston Photographer
Author: Maria Vazquez
Developed @ GA
*/

/*----------------------------------------------------------------------------- 
=01 BASE STYLES 
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.alignright {
	float: right;
}

/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/

body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.5;
	cursor: default;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper-two{
	width: 100%;
	background: url(../images/footer.jpg) center center no-repeat;
}

.wrapper-three {
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 0px 5px 15px #b4b4b4;
	/* background: url(../images/background.jpg) center center no-repeat; */
}


p{
	color: black;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	color: #779cab;
}

h4 {
	font-size: 12px;
	float: left;
}

a {
	text-decoration: none;
  color: #779cab;
}

.section-title {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #131315;
	text-align: center;
	font-size: 20px;
	color: white;
	padding: 10px;
}

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

#page-header {
	background: white;
	color: black;
	overflow: hidden;
	padding: 0 3%;
	height: 110px;
}
#page-header a {
	color: inherit;
	text-decoration: none;
}

#page-header h1 {
	float: left;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	margin: 20px 0 0 0;
	text-transform: uppercase;
	padding: 5px;
	border: 2px solid black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

#page-header nav {
	float: right;
}
#page-header nav li {
	float: left;
	text-transform: uppercase;
	font-size: 14px;
}
#page-header nav a {
	display: block;
	padding: 20px 15px;
}
#page-header nav li a:hover {
	color: #779cab;
}
#page-header nav li.active a {
	background: #666;
}

/*----------------------------------------------------------------------------- 
04=BANNER  
-----------------------------------------------------------------------------*/

.banner {
	background: url(../images/phbanner.jpg) center center no-repeat;
	background-size: cover;
	height: 700px;
	overflow: hidden;
	padding: 3%;
}

/* Background changes */

.argen {
  background: url(../images/argen.jpg) center center no-repeat;
  background-size: cover;
	height: 700px;
	overflow: hidden;
	padding: 3%;
}

.indi {
  background: url(../images/indi.jpg) center center no-repeat;
  background-size: cover;
	height: 700px;
	overflow: hidden;
	padding: 3%;
}

.nep {
  background: url(../images/nep.jpg) center center no-repeat;
  background-size: cover;
	height: 700px;
	overflow: hidden;
	padding: 3%;
}

.egyp {
  background: url(../images/egyp.jpg) center center no-repeat;
  background-size: cover;
	height: 700px;
	overflow: hidden;
	padding: 3%;
}

.blurb {
	width: 80%;
	margin: 0 auto;
	padding: 10%;
	float: center;
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 100px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.6);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    min-width: 300px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(0,0,0,0.6)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*----------------------------------------------------------------------------- 
05=WORK
-----------------------------------------------------------------------------*/
.work{
	margin-left: 100px;
	padding-top: 20px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0.9);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.9);
  padding: 20px 16px;
}

#caption {
	color:white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  opacity: .5;
  transition: all .3s ease-in;
}


/*----------------------------------------------------------------------------- 
06=ABOUT  
-----------------------------------------------------------------------------*/

.aboutme {
	overflow: hidden;
	padding: 2% 0;
}

.text {
	float: left;
	width: 60%;
	padding: 2% 3%;
}

.about-text{
	color:white;
}

.text a {
	text-decoration: none;
	color: #292929;
}

.text ul li a{
	color: #779cab;
}

.text ul li {
	display: inline;
	margin-right: 10px;
}

.text ul li a:hover {
	color: black;
}


.photo {
	float: right;
	width: 40%;
	padding: 2% 3%;
}

/*----------------------------------------------------------------------------- 
07=CONTACT  
-----------------------------------------------------------------------------*/

.contact-me {
	overflow: hidden;
	padding: 2% 0;
}

.contact-text {
	float: left;
	width: 50%;
	padding: 2% 3%;
}

.contact-area {
	float: right;
	width: 50%;
	padding: 2% 3%;

}

input[type=text], select {
    width: 85%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #779cab;
    box-sizing: border-box;
    font-size: 16px;
}

textarea{
    width: 85%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #779cab;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=submit] {
    width: 30%;
    background-color: white;
    color: #779cab;
    padding: 15px 20px;
    border: 2px solid #779cab;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15%;
    float: right;
}

input[type=submit]:hover {
    background-color: #779cab;
    color: white;
}

.contact-text ul{
	margin-top: 10px;
}

.contact-text ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	border: 2px solid #779cab;
  margin-right: 8px;
}

.contact-text ul li:hover {
	opacity: .5;
	transition: all .3s ease-in;
}

button {
    border: 2px solid #779cab;
    padding: 15px 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background-color: white;
}

button:hover {
  background-color: #779cab;
  color: white;
}

/*----------------------------------------------------------------------------- 
08=FOOTER  
-----------------------------------------------------------------------------*/

footer {
	background: #000000;
	color: #779cab;
	padding: 2% 3%;
	display: block;
	overflow: auto;
	height: 200px;
	background: url(../images/footer.jpg) center center no-repeat;
	background-size: cover;
}

/*----------------------------------------------------------------------------- 
RETURN TO TOP  
-----------------------------------------------------------------------------*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #779cab url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


/* START boilerplate css for hamburger */
.hamburger{
	position: absolute;
	top: 0.3em;
	right: 0.5em;
}
.hamburger .line{
	width: 3em;
	height: 0.3em;
	background: yellow;
	border-radius: 1em;
	margin-top: 0.25em;
}
.hamburger .line:first-of-type{
	margin-top: 0.7em;
}
/* END boilerplate css for hamburger */

@media screen
and (max-width: 768px){
  .hamburger{
  	display: block;
  }

  nav {
    display: none;
  }
  
  nav a {
    display: inline-block;
  }

  nav ul li {
    width: 100%;
  }
}

@media screen
and (min-width: 768px){
  .hamburger{
  	display: none;
  }
  .big_menu_item{
  	display: inline;
  }
  .blurbmobile{
  	display: none;
  }
}

@media screen and (max-width: 480px){
	#page-header h1{
		font-size: 2.5em;
	}
	.banner{
		background-size: 100%;
		padding: 0%;
	}
	.blurb{
		display: none;
	}
	.tout{
		width: 90%;
		box-shadow: none;
	}
	.blurbmobile{
		padding: 2%;
		width: 60%;
	}

}